.text-color {
    color: #130e01;
  }

.background-color {
    background-color: #fffaeb;
}

.primary-color {
    color: #060606;
}

.secondary-color {
    color: #ffcb2d;
}

.accent-color {
    color: #cf4307;
}

.accent-color.background {
    background-color: #cf4307;
}

.form-boxes {
    background-color: #D9D9D9;
}

.primary-text {
    font-family: 'crimson-text';
    font-size: 48px;
    font-weight: bold;
}

@font-face {
    font-family: 'nova-rounded';
    src: url('./fonts/NovaRound-Regular.ttf') format('truetype');
    /* Add more formats if necessary */
    font-weight: normal;
    font-style: normal;
}

.secondary-text {
    font-family: 'nova-rounded', sans-serif;
    font-size: 20px;
}
