.text-color {
    color: #130e01;
  }

.background-color {
    background-color: #fffaeb;
}

.primary-color {
    color: #060606;
}

.secondary-color {
    color: #ffcb2d;
}

.accent-color {
    color: #cf4307;
}